body {
  background-color: #3b3a50;
  color: #f2edd7 ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #f2edd7;
  transition: color .25s;
  text-decoration: none;
}

a:hover {
  color: #fed65e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}